.header {
  // backdrop-filter: blur(20px);
  border-radius: 23px;
  width: 100%;
  max-width: 1238px;
  background: linear-gradient(90deg, rgba(7, 10, 20, 0.4) 0%, rgba(73, 84, 123, 0.4) 34.76%, rgba(73, 84, 123, 0.4) 65.08%, rgba(7, 10, 20, 0.4) 100%);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;

  @media screen and (max-width: 1024px) {
    padding: 15px 20px;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 20px;
  }

  .searchWrapper {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #86a1ff 0%, #6884bf 100%);
    border-radius: 15px;
    width: 240px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 750px) {
      width: 100%;
      padding: 0 2px;
    }

    .search {
      background-image: url("../../../../assets/icons/search-normal.svg");
      background-position: 20px;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 18px;
      color: rgba(28, 40, 70, 0.4);
      background-color: #c8d3f8;
      border: none;
      outline: none;
      border-radius: 13px;
      width: 236px;
      height: 44px;
      padding-left: 59px;

      &::placeholder {
        color: rgba(28, 40, 70, 0.4);
      }

      @media screen and (max-width: 750px) {
        width: 100%;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    .buttonWrapper {
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
      background: linear-gradient(90deg, #86a1ff 0%, #6884bf 100%);
      border-radius: 15px;
      width: 186px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border: none;
        background: #94acff;
        border-radius: 13px;
        width: 182px;
        height: 44px;
        font-weight: 500;
        font-size: 16px;
        color: #d8e9fe;
      }
    }
  }
}