.container {
  margin-top: 20px;
  background-color: #b0c5ff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .soundBoard {
    background: #b0c5ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d8e9fe;

    .soundName {
      font-weight: 500;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .loadContainer {
      position: relative;

      .fileInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 53%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    .load {
      background-color: #94acff;
      border-radius: 10px;
      width: 100%;
      max-width: 174px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      gap: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #d8e9fe;
    }

    .delete {
      background-color: #94acff;
      border-radius: 10px;
      width: 100%;
      max-width: 157px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      gap: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #d8e9fe;
    }

  .player {
    border-radius: 15px;
    width: 360px;
    height: 252px;
    background: #b0c5ff;
    padding: 15px;

    .head {
      display: flex;
      align-items: center;

      .wrapper {
        background: #94acff;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        max-width: 69px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;

        .avatar {
          border-radius: 8px;
          width: 100%;
          height: 100%;
          max-width: 65px;
          max-height: 66px;
          background: #d8e9fe;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}