.container {
  display: flex;
  flex-direction: column;
  gap: 45px;

  .sectionTitle {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    .card {
      border-radius: 20px;
      background-color: #7d94e2;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
      padding: 20px;
      width: 100%;
      max-width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: space-between;

      &:nth-child(1) {
        max-width: 445px;

        .header {
          border: none;
          padding-bottom: 0px;
        }
      }

      &:nth-child(2) {
        max-width: 402px;

        .header {
          border: none;
          padding-bottom: 0px;
        }
      }

      &:nth-child(3) {
        max-width: 239px;
      }

      &:nth-child(4) {
        max-width: 420px;

        .header {
          border: none;
          padding-bottom: 0px;
        }
      }

      &:nth-child(5) {
        max-width: 320px;
      }

      &:nth-child(6) {
        max-width: 346px;
      }

      &:nth-child(7) {
        max-width: 420px;

        .header {
          border: none;
          padding-bottom: 0px;
        }
      }

      &:nth-child(8) {
        max-width: 692px;

        .header {
          border: none;
          padding-bottom: 0px;
        }
      }

      .isActiveHeader {
        padding-bottom: 10px;
        border-bottom: 2px solid #d8e9fe;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .title {
          font-weight: 600;
          font-size: 18px;
          color: #fff;
        }
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 2px solid #d8e9fe;

        .title {
          font-weight: 600;
          font-size: 18px;
          color: #fff;
        }
      }
    }
  }
}