@import '../../../../../styles/const.scss';

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgba(28, 40, 70, 0.4);

  @media screen and (max-width: 498px) {
    padding: 15px;
  }

  .modal {
    border-radius: 25px;
    width: 100%;
    // max-width: fit-content;
    max-width: 520px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    background: #7188c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;

    .introWrapper {

      .textWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .title {
          font-weight: 600;
          font-size: 24px;
          color: $white;

          @media screen and (max-width: 375px) {
            font-size: 20px;
          }
        }
    
        .desc {
          font-weight: 500;
          font-size: 15px;
          text-align: center;
          color: $white60;
          max-width: 453px;

          @media screen and (max-width: 375px) {
            font-size: 13px;
          }
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      gap: 20px;
      width: 100%;

      @media screen and (max-width: 375px) {
        gap: 40px;
      }

      .input {
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        background: #c8d3f8;
        border-radius: 15px;
        width: 100%;
        max-width: 520px;
        height: 46px;
        padding: 0 20px 0 20px;
        font-weight: 500;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.6);
        border: none;
        outline: none;

        &::placeholder {
          color: rgba(0, 0, 0, 0.6);
        }

        &:disabled {
          color: rgb(0, 0, 0, 1);
          // opacity: 1;
        }
      }

      .buttonWrapp {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 170px;
        height: 50px;
        background: linear-gradient(90deg, #b9c8ff 0%, #98aeff 100%);
        transition: all .3s ease;

        .button {
          background: #88a1f3;
          font-weight: 500;
          font-size: 16px;
          color: #d8e9fe;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: 7px;
          width: 166px;
          height: 46px;
          gap: 10px;

          &:hover {
            background: #93aaff;
          }
        }
      }
    }
  }
}