$main_bg: linear-gradient(117deg, #c8d3f8 0%, #9bbcee 39.82%, #8ba3e1 63%, #a6bcf5 89%);

$dark40: rgba(7, 10, 20, 0.4);
$blue-light1: #94ACFF;
$blue-light2: #d8e9fe;
$blue-light3: #c8d3f8;
$blue-light4: #edf5fa;

$white: #ffffff;
$white70: rgba(255, 255, 255, 0.7);
$white60: rgba(255, 255, 255, 0.6);