@import '../../../styles/const.scss';

.container {
  background: $dark40;
  backdrop-filter: blur(20px);
  border-radius: 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;

  @media screen and (max-width: 880px) {
    flex-direction: column-reverse;
    gap: 40px;
  }

  @media screen and (max-width: 375px) {
    padding: 20px;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .logo {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 600;
        font-size: 35px;
        letter-spacing: 0.05em;
        color: $white;
      }

      @media screen and (max-width: 880px) {
        display: none;
      }
    }

    .aboutDevelop {
      border-top: 2px solid $white60;
      padding-top: 15px;

      .h4 {
        color: $white;
        font-weight: 400;
        font-size: 16px;

        @media screen and (max-width: 459px) {
          font-size: 14px;
        }

        .nick {
          text-decoration: none;
          background-image: linear-gradient(90deg, #b9c8ff 0%, #98aeff 100%);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          font-weight: 600;
          font-size: 18px;

          &:hover {
            transition: all .2s ease-in;
            background-image: linear-gradient(90deg, #9db2fd 0%, #8aa2fb 100%);
          }

          @media screen and (max-width: 459px) {
            font-size: 16px;
          }
        }
      }

      .span {
        color: $white60;
        font-weight: 400;
        font-size: 16px;

        @media screen and (max-width: 459px) {
          font-size: 14px;
        }
      }

      @media screen and (max-width: 880px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
      }

      @media screen and (max-width: 459px) {
        flex-direction: column;
        gap: 10px;
      }
    }

    @media screen and (max-width: 880px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 518px;

    .nav {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .title {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: $white60;
      }

      .pageList {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .page {
          text-decoration: none;
          color: $white;
          font-weight: 500;
          font-size: 18px;

          &:hover {
            transition: all .2s ease-in;
            color: $white60;
          }
        }

        @media screen and (max-width: 500px) {
          flex-direction: row;

          .page {
            font-size: 16px;
          }
        }

        @media screen and (max-width: 350px) {
          flex-direction: column;
        }
      }

      @media screen and (max-width: 500px) {
        gap: 10px;
      }

      @media screen and (max-width: 350px) {
        &:nth-child(1) {
          width: 126px;
        }
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    @media screen and (max-width: 350px) {
      align-items: center;
    }
  }

  .image {
    display: block;

    @media screen and (max-width: 1060px) {
      display: none;
    }
  }
}