.container {
  padding-top: 20px;
  // padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .RadioButtonWrapper {
    display: flex;
    justify-content: space-between;
  }

  .linkWrapper {
    background-color: #94acff;
    border-bottom: 2px solid #d8e9fe;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
    gap: 20px;
    position: relative;

    .title {
      font-weight: 500;
      font-size: 14px;
      color: #d8e9fe;
    }

    .warningWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    .warning {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 500;
      text-align: center;
    }

    .link {
      background-color: #d8e9fe;
      border-radius: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 10px;

      .linkText {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: rgba(0, 0, 0, 0.6);
      }

      .copy {
        cursor: pointer;
      }
    }
  }
}