.itemsSection {
  background-color: #6982C3;
  border-radius: 20px;
  padding: 15px;
  min-width: 300px;
  max-width: 970px;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 80px;
  display: flex;
  gap: 20px;
}