.container {
  border-bottom: 2px solid #d8e9fe;
  border-radius: 20px;
  width: 100%;
  max-width: 1086px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  background: #94acff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .searchWrap {
    border-radius: 15px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background: linear-gradient(90deg, #86a1ff 0%, #6884bf 100%);

    .search {
      border-radius: 13px;
      width: 100%;
      // max-width: 236px;
      height: 44px;
      padding: 10px 20px;
      background-color: #c8d3f8;
      display: flex;
      align-items: center;
      gap: 10px;

      .input {
        font-weight: 500;
        font-size: 18px;
        color: rgba(28, 40, 70, 0.4);
        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
          color: rgba(28, 40, 70, 0.4);
        }
      }
    }
  }

  .filterWrap {
    border-radius: 15px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background: linear-gradient(90deg, #86a1ff 0%, #6884bf 100%);
    cursor: pointer;

    .filter {
      border-radius: 13px;
      padding: 10px;
      background-color: #c8d3f8;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}