.container {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

  .groups {
    // width: 100%;
    max-width: 920px;
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    // overflow-y: scroll;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #d8e9fe;
    padding: 10px;
    border-radius: 20px;

    .button {
      font-weight: 500;
      font-size: 16px;
      color: #d8e9fe;
      border: none;
      border-top: 2px solid #d8e9fe;
      background-color: #7d94e2;
      display: flex;
      align-items: center;
      border-radius: 12px;
      padding: 15px;
      gap: 10px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
      transition: all .3s ease-out;
    
      &:hover {
        transition: all .3s ease-out;
        background-color: #a8bdff;
      }
    }
  }
}