.container {
  width: 100%;
  // max-width: 884px;
  background: #B4C5FF;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;

  .nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .name {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: rgba(28, 40, 70, 0.6);
    }

    .template {
      font-weight: 500;
      font-size: 14px;
      color: rgba(28, 40, 70, 0.4);

      label {
        font-weight: 600;
        font-size: 14px;
        color: rgba(28, 40, 70, 0.6);
      }
    }
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    color: #d8e9fe;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
  }
}