.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  .title {
    color: #fff;
  }

  .basket {
    background-color: antiquewhite;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}