@import '../../../../styles/const.scss';

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 240px;
  // max-height: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  // @media screen and (max-width: 875px) {
  //   max-width: none;
  // }

  @media screen and (max-width: 838px) {
    max-width: 300px;
  }

  @media screen and (max-width: 726px) {
    max-width: none;
  }

  .lesson {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    background: #9bb1ec;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    max-width: 221px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:hover {
      background: #A8BDF4;
      box-shadow: none;
      // transition: all .3s ease-in;
    }

    @media screen and (max-width: 838px) {
      flex-direction: row;
      align-items: center;
      max-width: 300px;
      gap: 10px;
    }

    @media screen and (max-width: 726px) {
      max-width: none;
    }

    // @media screen and (max-width: 875px) {
    //   max-width: none;
    //   flex-direction: row;
    //   align-items: center;
    //   gap: 0;
    // }

    .titleWrapp {
      display: flex;
      flex-direction: column;
      padding: 0 15px 15px 15px;

      @media screen and (max-width: 838px) {
        padding: 0 15px 0 0;
        gap: 10px;
      }

      @media screen and (max-width: 726px) {
        width: 100%;
      }

      @media screen and (max-width: 485px) {
        width: 100%;
        padding: 15px;
      }

      .name {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: $white;
      }

      .createAt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @media screen and (max-width: 485px) {
          width: 100%;
        }

        .time {
          font-weight: 500;
          font-size: 13px;
          color: rgba(216, 233, 254, 0.7);
        }

        .menuWrapper {
          position: relative;

          .img {
            transition: all .2s ease-in;

            &:hover {
              transform: scale(1.3);
              transition: all .2s ease-in;
            }
          }
        }
      }
    }

    .imageWrapper {
      width: 100%;
      max-width: max-content;
      padding: 5px;

      @media screen and (max-width: 485px) {
        display: none;
      }

      .mock {
        background: #cedbff;
        border-radius: 17px;
        width: 211px;
        height: 133px;

        @media screen and (max-width: 838px) {
          width: 100px;
          height: 100px;
        }
      }
    }
  }


  .finded {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    background: #7790d6;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    max-width: 221px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:hover {
      background: #8ca7f0;
      // transition: all .3s ease-in;
    }

    @media screen and (max-width: 838px) {
      max-width: none;
      flex-direction: row;
      align-items: center;
      gap: 0;
    }

    .titleWrapp {
      display: flex;
      flex-direction: column;
      padding: 0 15px 15px 15px;

      @media screen and (max-width: 838px) {
        padding: 0 15px;
      }

      @media screen and (max-width: 485px) {
        width: 100%;
        padding: 15px;
      }

      .name {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: $white;
      }

      .createAt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        @media screen and (max-width: 485px) {
          width: 100%;
        }

        .time {
          font-weight: 500;
          font-size: 13px;
          color: rgba(216, 233, 254, 0.7);
        }

        .menuWrapper {
          position: relative;

          .img {
            transition: all .2s ease-in;

            &:hover {
              transform: scale(1.3);
              transition: all .2s ease-in;
            }
          }
        }
      }
    }

    .imageWrapper {
      width: 100%;
      max-width: max-content;
      padding: 5px;

      @media screen and (max-width: 485px) {
        display: none;
      }

      .mock {
        background: #cedbff;
        border-radius: 17px;
        width: 211px;
        height: 133px;

        @media screen and (max-width: 838px) {
          width: 170px;
          height: 100px;
        }
      }
    }
  }
}