@import "../../../../../styles/const.scss";

.overlay {
  border-radius: 18px;
  background-color: rgba(7, 10, 20, 0.4);
  backdrop-filter: blur(20px);
  width: 1174px;
  height: 507px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
  overflow: hidden;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 28px;
      letter-spacing: 0.05em;
      color: #fff;
    }

    .desc {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: $white70;
      max-width: 492px;
      text-align: center;
    }
  }

  .play {
    border-radius: 100%;
    background-color: #b0c5ff;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;

    &:hover {
      transition: all .3s ease-out;
      background-color: #7C91CB;
    }
  }

  .controls {
    background: #b0c5ff;
    border-radius: 15px;
    width: 374px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .button {
      font-weight: 500;
      font-size: 16px;
      color: #d8e9fe;
      border: none;
      border-top: 2px solid #d8e9fe;
      background-color: #7d94e2;
      display: flex;
      align-items: center;
      border-radius: 12px;
      padding: 10px;
      gap: 10px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
      transition: all .3s ease-out;

      &:hover {
        transition: all .3s ease-out;
        background-color: #B5C6FF;
      }
    }
  }
}