.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: space-between;
  width: 100%;
  // background-color: #a6b1e1;
  border-radius: 50px;

  .wrapper {
    width: 100%;

    .progressBar {
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      height: 8px;
      background: #D8E9FE;
      border-radius: 20px;
      outline: none;
      // overflow: hidden;
    
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        background: #C8D3F8;
        border-radius: 50%;
        cursor: pointer;
      }
    
      &::-moz-range-thumb {
        width: 30px;
        height: 30px;
        background: red;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .progressWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;

    .progress {
      font-weight: 500;
      font-size: 14px;
      text-align: center;
    }
  }
}